body{
    background-image: radial-gradient(rgba(58, 24, 108, 1)1%,rgba(66, 30, 128, 1)10%,rgba(14, 2, 46, 1)60%);
}
.image-container{
    display: flex;
    height: 500px;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    border-radius: 35px;
    background-color: rgba(18, 16, 38, 1);
}
.image{
    height: 400px;
    margin: auto;
}
.download{
    display: flex;
    margin: auto;
    margin-top: 50px;  
    height: 50px;
    width: 150px; 
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgba(122, 66, 240, 1);
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 100px;
}
.download-icon{
    font-size: 20px;
    padding: 2px;
}
.Loader{
    height: 200px;
    width: 200px;
    margin: auto;
    border: 12px solid rgba(24, 22, 48, 1);
    border-radius: 50%;
    border-right-color: rgba(122, 66, 240, 1);
    animation: spin 1.5s ease infinite;
}
@keyframes spin {
100%{
    transform: rotate(360deg);
}
}