.navbar {
    background-color: transparent;

}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 30px;
}
.logo{
    margin-left: 50px;
    padding: 10px;
    font-size:x-large;
    font-weight:900;
}

li{
    padding: 20px;
}
.sign-up{
    background-color:transparent;
    width: 100px;
    height: 35px;
    border-radius: 12px;
    margin-top: -5px;
    color: white;
    border-color: white;
    
}