
.scroller{
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    list-style-type: none;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar{
    display: none;
}
.scroll-img{
    width: 300px;
    height: 400px;
    padding: 50px;
    object-fit: cover; 
}
.first{
    padding-left: 30px;
}
.last{
    padding-right: 80px;
}
.container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.prev-btn, .next-btn{
    height: 50px;
    background:transparent;
    border: transparent;
    cursor: pointer;
}
.scroll-btn{
    width: 50px;
}
.prev-btn{
    margin-bottom: 10px;
}
.indicators{
    text-align: center;
    margin-top: -50px;
}
.active{
    color: rgba(81, 51, 255, 1);
}