@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    font-family: 'Poppins';
}
.colored{
    background: linear-gradient(to bottom right,rgba(183, 74, 254, 1),rgba(113, 61, 244, 1));
    background-clip: text;
    color: transparent;
}
a{
    color: white;
    text-decoration: none;
}